@model MyERP.Dtos.OrderReportRequest

@{
    ViewData["Title"] = "Generate Report";
}

<h4>Orders Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrdersReport" method="get">
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" type="date" value="@null" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label"></label>
                <input asp-for="To" type="date" value="@null" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Generate" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
